/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* my code*/

*{
   text-decoration:none;
}

body{
  font-family: 'Domine', serif;

   background-color: white;
   box-sizing: border-box;
   overflow-x: hidden;
   list-style: none;
}
header{
  display: inline-block;
  position: fixed;
  align-items: center;
  width:100%;
  height: 65px;
  background-color:white;
  box-shadow:  0px 1px 5px  rgba(0, 0, 0, 0.4);
 top: 0;

  z-index: 120;
  
}
header .logo {
  width:200px;
  float: left;
  z-index:11;
  margin-top: 5px;
  margin-left: 2rem;
  position: relative;
  box-sizing: border-box;
  transition: all ease-out 300ms;
  
}
header .logo:hover {
  width:220px;
 
  
  
}

.fa-angle-down{
  margin-left:2px;
  font-size:13px;
  color: black;
}
header .logo img{
  width:100%;

}
nav{
  width:100%;
  height: 30px;

  margin-left: 500px;
}
nav ul{
  float: left;
  
}
nav ul li{
  float: left;
  line-height: 20px;
  list-style: none;
}
nav ul li a{
  padding: 21px 14px;
  display: block;
  font-size: 19px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition: all ease-out 300ms;

}
nav ul li a:hover{
  border-bottom: 2px  solid #ff1010;
  opacity: 0.8;
  color: black;
}
.contact {
  display: inline-block;
  background: #ff833b;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: 19px;
  margin-left: 15rem;
  font-size: 18px;
  font-weight: 520;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  width: 120px;
  height: 35px;
}
.contact:hover{
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.2);
}
/*Slider Section*/
.wrapper-slider{
  width: 100%;
  z-index: 100;
  margin-top: 4rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

}
@keyframes fade{
  
  from {
    opacity:0.6;
  }
  to{
    opacity:1;
  }

}
.fade{
  animation: fade 2s ;

}
.wrapper-slider img{
  
  transition: all ease-in-out 100ms;
  width: 100%;
}

button{
  border: none;
  
  padding: 20px;
  font-size: 30px;
  z-index: 100;
  background: rgba(255, 255, 255, 0.7)
  
  
  

}
.nextbtn{
 
  top:0;
  right:0;
  position:absolute;
  margin-top:15%;
  margin-right:90%;
  cursor: pointer;  
  margin-left: 50%;
  color: #747171;
  
  border-radius: 50%;
  
}
.prevbtn{

  top:0;
  left:0;
  position: absolute;
  margin-top:15%;
  margin-left:90%;
  cursor: pointer;  
  border-radius: 50%;
  color: #5c5656;
}
.prevbtn,.nextbtn{
transition: all ease-in-out 200ms;
}
.nextbtn:hover{
  color: #000000;
}
.prevbtn:hover{
  color: #000000;
}
header .hamburger {
  display: none;
}
.container .sidebar{
  display: none;
 
}
/*Welcome Section*/
.welcome{
  display: block;
  height: auto;
  color: #e4dfdf;
  width: 100%;
}
h1{
  color: rgb(243, 4, 4);
  text-align: center;
  text-shadow: 2px 2px 8px #fffafa;
  font-size: 36px;
  font-weight: 600;
  padding: 2.5rem 0;
  box-sizing: border-box;
  margin: auto;
}
.welcome p{
  font-size: 17px;
  color: #000;
  letter-spacing: 1px;
  line-height: 35px;
  width: 80%;
  text-align: justify;
  padding-bottom: 3rem; 
  margin: auto;
}
/*Services Sections*/
.wrapper-section{
 max-width: 100%;
 margin: auto; 
 overflow: hidden;
 margin-top: 0rem; 
}
.grid-container{
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 40px  50px 40px;
 
}
.section-items{
  box-shadow: 0px 0.5px 3px #1d1d1d;
  box-sizing: border-box;
  border: 1px solid rgb(255, 245, 245);
  border-radius: 5px;
  padding: 10px 10px;
  line-height: 40px;
}
.wrapper-section h2{

  top:50%;
  left: 50%;
  padding-top:3rem;
  font-size: 42px;
  font-weight:500px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 8px rgb(243, 237, 237);
  width:300px;
  margin: auto;
  text-align: center;
}
.section-items ul li{
  list-style: none;
  text-align: left;
  color: #000000;
  padding-left: 1.5rem;
}
.section-items-2 ul li, .section-items-3 ul li, {
  line-height: 40px;
  list-style: none;
}
.bg-color{
  background: #f0efef;
}
.section-items h1,p{
  padding: 5px 5px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}
#aboutus{
  background: #f0efef;
  border-top: 8px solid #7eb679;
}
.wrapper-sec-about-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
 
  
  
}
.info h2{
  padding-top:1.8rem;
  font-size: 42px;
  font-weight:500px;
  color:  #f81212;

  padding-left: 3rem;
  text-shadow: 2px 2px 8px rgb(253, 247, 247);
  
  
  
  
}
.info p{
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}
/*Newsletter Section*/
.nw-letter {
  width: 100%;
  height: 40vh;
  display: block;
  padding: 4rem 0rem;
  margin: 0 auto;
  background-color: #ffffff;

}
.nw-letter h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-overflow: none;
  padding: 1rem 0;
}
.nw-letter h6 {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  text-overflow: none;
  padding: 0 0;
 

}
.nw-letter .subscribe {
  margin-top: 15px solid black !important;
  padding: 5rem 0;
  left: 33%;
  display: block;
  position: relative;
}
.nw-letter .subscibe input {
  border: 4px solid red;
  border-radius: 4px;
}
.subscribe{
  display: flex; 
} 
.subscribe input{
  border: 2px solid gray;
  width: 248px;
  border-radius: 30px;
  text-align: center;
  height: 48px;
   
}
.subscribe button{
  border: none;
  outline: none;
  width: 155px;
  border-radius: 30px;
  text-align: center;
  height: 50px;
  background: #7eb679;
  color: white;
  overflow: hidden;
  font-size: 22px;
  line-height: 12px;
  cursor: pointer;
}
.footer-grid{
  
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5rem;
  box-sizing: border-box;
  padding: 1.5rem 5rem;
  justify-content: center;
  
  background: #111;
  color: #e4dfdf;
  border-top: 9px solid #7eb679;
}
ul{
  padding: 0.8rem 0;
}
ul li{
  list-style: none;
  line-height: 50px;
 
}
ul li a{
  
  text-decoration: none;
  color: #e4dfdf;
  font-size: 17px;
  transition: all 200ms ease-in;
  display: block;
}
ul li a:hover{
  text-decoration: none;
  color: #e4dfdf;
  font-size: 18.5px;
}
.useful-links h5{
  font-size: 24px;
  font-weight: 400;
  padding: 0.1rem 0;
  color: #ffffff; 
  border-bottom: #ffffff solid 2px;
  width: 150px;
}
.social-media-links h5{
  font-size: 24px;
  font-weight: 400;
  padding: 0.3rem 0;
  color: #ffffff; 
  border-bottom: #ffffff solid 2px;
  width: 220px;
}

.social-media-links iframe{
  padding: 2rem 2rem;
  width: 550px;
  height: 220px;
}
.social-media-links ul li a span{
  padding: 0  1rem;
}
@media only screen and (max-width:900px){
  /*Newsletter Section*/
  .nw-letter {
    height: 50vh;
  }
.nw-letter .subscribe {
  padding: 5rem 0;
  left: 10%;
  display: block;
  position: relative;
}
  .contactuspage{
    width: 150%;
    display: block;
    position: relative;
  }
  .contactuspage .contact-frm {
    position: absolute !important;
    display: flex !important;
    margin-top: 3rem;
    bottom: 0% !important;
    padding: 1rem 0;
    left: -10rem;
    
}
.contactuspage .contact-frm button{
  top: 83%;
  right: -5%;
  position: absolute;
  display: block;
}
.contact-frm label > input {
  display: block;
  padding: 3rem 0;
  width: 100% !important;
  position: relative;
  
}

.contactuspage .Email-us {
  display: none;
}
nav{
  display: none;
}

header .logo {
  width:200px;
  float: left;
  z-index:2;
  margin-top: 2px;
  margin-left: 5rem;
 
  
}
/*Side bar*/
header .hamburger {
  display: block;
  width:80px;
  height:60px;
  background-image: url("img/menu.png");
  background-repeat: no-repeat;
  background-size: 30%;
  right: 0;
  cursor: pointer;
  background-position:center;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  
}
.container .sidebar{
  position: fixed;
  height: 100vh;
  width:0px;
  padding: 0;
  z-index: 105;
  background-color:rgb(17, 15, 15)187, 187, 187);
 left: 0;
 transition: all 0.3s ease-in-out;
 display: block;
 margin-top: 2.8rem;
 
 
}
.container .sidebar ul{
           padding-top: 15px;
           overflow: hidden ;
           visibility: hidden;
           transition: all 0.3s ease-in-out;
           height: 100%;
         background-color:#ffffff;
         box-shadow:  3px 0px 5px  rgba(0, 0, 0, 0.4);
}
.container .sidebar ul li{
              line-height: 60px;
              list-style: none;
              border: none;
              width:100%;
              transition: all 0.3s ease-in-out;
             
             box-shadow:  0px 0.8px 3px  rgba(0, 0, 0, 0.4);
}
.container .sidebar ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    font-size: 16px;
    white-space: nowrap;
    width: 100%;
    height: 60px;
    display: block;
    margin-left:75px;
    transition: all 0.3s ease-in-out;
}
.container .sidebar ul li a:hover{
opacity: 0.8;
font-size: 19px;
}
.container .sidebar ul li:hover{
  box-shadow:  0px 1.2px 4px  rgba(0, 0, 0, 0.4);
    
    
}
.grid-container{
  margin-top: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 40px;
 
}
.social-media-links iframe{
  padding: 2rem 0rem;
  width: 100%;
  height: 220px;
}
.wrapper-sec-about-us{
  display: grid;
  grid-template-columns: 1fr;
 
  
  
}
.footer-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  box-sizing: border-box;
  padding: 1.5rem 5rem;
  justify-content: center;
  
  background: #111;
  color: #e4dfdf;
  border-top: 9px solid #7eb679;
}
}

.slider{
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  
}
/*newest slider starts here...*/
.slide{
  position: absolute;
  top: 4rem;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; 
  
  transition: all 0.7s ease-in-out 0.3s;
}
.slide.current{
  opacity: 1;
  transform: translateX(0px);
}
.slide .content{
  position: absolute;
  width:300px;
  bottom: 100px;
  height: 100px;
  left:-480px;
  background-color: rgba(255,255,255,0.8);
  color: black !important;
  padding: 35px;
  opacity: 0;
  border-radius: 6px;
}
.slide.current .content{
  opacity: 1;
  transform: translateX(485px);
  transition: all 0.7s ease-in-out 0.3s;
}
.slide .content h1{
  color: black;
  padding: 10px 0;
  font-size: 30px;
}
.slide .content p{
  color: black;
  top:0;
  bottom: 0;
  margin-bottom: 0; 
  font-size: 16px;
}
.buttons button{
  border: 2px solid rgb(238, 236, 236);
  background-color: transparent;
  color: rgb(241, 237, 237);
  cursor: pointer;
  padding: 10px 10px;
  font-size: 20px;
  outline: none;
  border-radius: 50%;
  transition: all 300ms ease-in;
  
}
.buttons button:hover{
  background-color: black;
}
.buttons button#next{
  position: absolute;
  top: 50%;
  right: 15px;
}
.buttons button#prew{
  position: absolute;
  top: 50%;
  left: 15px;

}
.slide:first-child {
  background: url(img/img2.jfif) no-repeat center center/cover;
}
.slide:nth-child(2){
  background: url(img/img1.jfif) no-repeat center center/cover;
}
.slide:nth-child(3){
  background: url(img/img.jpg) no-repeat center center/cover;
}
.slide:nth-child(4){
  background: url(img/3.jfif) no-repeat center center/cover;
}

/*Conatc us page section*/
.contactuspage {
  width: 100%;
  height: 95vh;
  position: relative;
}
.contactuspage .contact-frm {
  position: absolute;

  display: flex;
  flex-direction: column;
  margin-left: 50%;
  top: 1rem;
  padding: 1rem 0;
  
  right: 3rem;
  width: 60%;
}
.contactuspage .contact-frm input {
 border-radius: 3rem;
 outline: none;
 height: 30px;
 border: 1px solid #747171;
 text-align: center;
 box-sizing: border-box;
 padding: 5px 2px;
}

.contactuspage .contact-frm label {
  margin-top: 0rem;
  padding: 1rem;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
 }
 .contactuspage .contact-frm textarea {
 
  border-radius: 1rem;
 outline: none;
 height: 30px;
 border: 1px solid #747171;
 text-align: left;
 box-sizing: border-box;
 padding: 5px 2px;
 height: 130px;

 }
 .contactuspage .contact-frm button {
  display: inline-block;
    background: #ee691c;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 19px;
    margin-left: 17rem;
    font-size: 28px;
    font-weight: 520;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    width: 320px;
    height: 55px;
 }
 .contactuspage .contact-frm button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  transform: translate(0px, -10px) scale(1.2); 
 }
.Email-us{
  width: 20%;
  left: 3rem;
  margin-bottom: 3rem;
  display: block;
  margin-left: 5rem;
}
.Email-us h1{
  margin: 5rem 0 0 0;
  text-align: left;
  text-transform: uppercase;
  color: #5c5656;
  width: 290px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

 .Email-us .msg {
  top: 0;
  font-size: 17px;
  letter-spacing: 2px;
  color: #747171;
}
.Email-us:nth-child(odd){
  top: 0;
  font-size: 17px;
  letter-spacing: 2px;
  color: #747171;
}
.Email-us:nth-child(even){
  top: 0;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: #a7a1a1;
}


